.mainButtonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainButtonsContainer section:not(:last-child) a {
    margin-bottom: 10px;
}

