.subtitle {
    font-size: 3vw;
}

.subtitle span {
    color: var(--color-secondary-hex);
}

.description {
    margin-top: 10px;
    font-size: 1.5vw;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
}

.textDiv{
    grid-column: 1/3;
    padding-right: 90px;
}

.pictureDiv{
    display: flex;
    justify-content: center;
}

.pictureDiv img{
    border-radius: 20px;
    width: 100%;
    height: 80%;
}