.containerMediaButton {
    text-decoration: none;
    color: var(--color-principal-hex);
    font-size: 3vw;
    margin-right: 10px;
}

.containerMediaButton:hover {
    color: var(--color-secondary-hex);
    cursor: pointer;
}

.containerMediaNameButton {
    text-decoration: none;
    color: var(--color-principal-hex);
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--color-principal-hex);
    border-radius: 10px;
    padding: 1rem;
    width: fit-content;
}

.containerMediaNameButton:hover {
    color: var(--color-secondary-hex);
    cursor: pointer;
    border-color: var(--color-secondary-hex);
}

.containerMediaNameButton span {
    margin-left: 0.5vw;
    font-weight: 700;
}
