.skillsContainer {
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 80px;
}

.carouselContainer {
    margin-top: 50px;
    width: 100%;
}

@media screen and (max-width: 896px) {
    .skillsContainer {
        padding: 0 50px;
    }
}

@media screen and (max-width: 482px) {
    .skillsContainer {
        padding: 0 10px;
        height: 100vh;
    }
}