.containerWelcomeSection {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerWelcomeSection h1 {
    font-size: 6rem;
    font-weight: 800;
    color: #fff;
}

.containerWelcomeSection h1 span {
    color: var(--color-secondary-hex);
}