.itemCarouselContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 20%;
    padding: 20px;
}

.itemCarouselContainer .containerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemCarouselContainer .containerInfo span {
    margin-top: 5px;
    font-size: 1.8rem;
    text-align: center;
}

.itemCarouselContainer img {
    border-radius: 10px;
}

.itemCarouselContainer .progressBar {
    width: 100%;
    height: 5px;
    border-radius: 5px;
}

