:root {
  --background-hex: #1C2227;
  --color-principal-hex: #FFF;
  --color-secondary-hex: #139E91;
  --color-cards-hex: #2A3443;
  --color-card-hover-hex: #223043;
  
  --font-principal: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
}

body {
  background: var(--background-hex);
  color: var(--color-principal-hex);
  font-family: var(--font-principal);
}

a {
  text-decoration: none;
  color: var(--color-principal-hex);
}

a:hover {
  color: var(--color-secondary-hex);
  cursor: pointer;
}