.aboutMeSectionContainer {
    height: 100vh;
    background: rgb(28,34,39);
    background: linear-gradient(rgba(28,34,39,1) 0%, rgba(42,52,67,1) 50%, rgba(28,34,39,1) 100%);
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutMeSectionContainer .infoContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin-top: 50px;
    
}

.aboutMeSectionContainer .infoContainer p {
    font-size: 1.75rem;
}

.aboutMeSectionContainer .infoContainer .description {
    grid-column: 1/6;
}

.aboutMeSectionContainer .infoContainer img {
    border-radius: 100vw;
}

.infoContainer .imageContainer {
    padding: 20px;
    border: 5px solid var(--color-secondary-hex);
    width: fit-content;
    border-radius: 100vw;
    margin-right: 100px;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:  100px;
}

.profileContainer h2 {
    font-size: 1.7rem;
    font-weight: 500;
    color: #fff;
    margin-top: 20px;
}