.aboutMeSectionContainer {
    height: 100vh;
    background: rgb(28,34,39);
    background: linear-gradient(rgba(28,34,39,1) 0%, rgba(42,52,67,1) 50%, rgba(28,34,39,1) 100%);
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutMeSectionContainer .infoContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 50px;
    
}

.aboutMeSectionContainer .infoContainer p {
    font-size: 1.75rem;
}

.aboutMeSectionContainer .infoContainer .description {
    grid-column: 1/4;
}

.aboutMeSectionContainer .infoContainer img {
    border-radius: 100vw;
}

.infoContainer .imageContainer {
    padding: 20px;
    border: 5px solid var(--color-secondary-hex);
    width: fit-content;
    border-radius: 100vw;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileContainer h2 {
    font-size: 1.7rem;
    font-weight: 500;
    color: #fff;
    margin-top: 20px;
}

@media screen and (max-width: 896px) {

    .aboutMeSectionContainer {
        padding: 0 50px;
    }

    .aboutMeSectionContainer .infoContainer {
        grid-template-columns: repeat(1, 1fr);
    }

    .aboutMeSectionContainer .infoContainer p {
        text-align: justify;
        text-justify: inter-word;
    }

    .infoContainer .imageContainer {
        margin-top: 50px;
    }
}